.home{
    color: aliceblue;
    border: solid black 2px;
}

.buttons{
    text-align: center;
    margin-top:2px
}

.form{
    border: 1px black solid;
    padding: 20px;
    border-radius: 4px;
    margin-top: 2px;
}