.form{
  border: 1px black solid;

  border-radius: 4px;
  margin-top: 2px;
}
.headerInv{

  margin-bottom: 20px;
  background-color:#2F74B7 ;
  color: aliceblue;
  width: 100%;
  min-height: 30px;
  font-size: 20px;
  font-weight: bold;
  padding: 5px;
  border-bottom: 2px solid black;
}

.save{
  background-color:#2F74B7;
  color: aliceblue;
}

