<div class="col-4 mx-auto border-black form">
  <div class="text-center headerInv">Invoice Details Page</div>
  <form class="px-4" [formGroup]="registerForm">

    <div class="form-group">
      <div class="row mb-2">
        <div class="col-3">
          <label for="productname">Product Name</label>
        </div>
        <div class="col-9">
          <input type="text" class="form-control" id="productname" formControlName="productName" name="productName">
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="row mb-2">
        <div class="col-3">
          <label for="price">Price</label>
        </div>
        <div class="col-9">
          <input type="number" class="form-control" id="price" formControlName="price" name="price">
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="row mb-2">
        <div class="col-3">
          <label for="quantity">Quantity</label>
        </div>
        <div class="col-9">
          <input type="number" class="form-control" id="quantity" formControlName="quantity" name="quantity">
        </div>
      </div>
    </div>



    <div class="form-group">
      <div class="row mb-2">
        <div class="col-3">
          <label for="expiryDate">Expiry Date</label>
        </div>
        <div class="col-9">
          <input type="date" class="form-control" id="expiryDate" formControlName="expireDate" name="expireDate">
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="row mb-2">
        <div class="col-3">
          <label for="unitno">Unit No</label>
        </div>
        <div class="col-9">
          <select class="form-control" id="unitno" formControlName="unitno" name="unitno" #items (change)="onSelected(items.value)">
            <option *ngFor="let unit of UnitNo" [value]="unit">  {{unit}}</option>
          </select>
        </div>
      </div>
    </div>


    <div class="form-group">
      <div class="row mb-2">
        <div class="col-3">
          <label for="unitName">Unit Name</label>
        </div>
        <div class="col-9">
          <input type="text" class="form-control" id="unitName" formControlName="unitName" readonly>
        </div>
      </div>
    </div>


    <div class="mx-auto container w-75 my-3">
      <div class="row">

        <div class="col-3">
          <input type="submit" value="Save" (click)="save()" class="mt-1 save btn d-inline-block">
        </div>
        </div>
    </div>

  </form>
</div>

